body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(images/28-mart-2024-doviz-kurlari-euro-ne-kadar-dolar-ne-kadar-gram-altin-ceyrek-tam-cumhuriyet-altini-ata-altin-ne-kadar-oldu-yh3d.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}